
 <div class="card text-center">
   <div class="card-header">   Register    </div>
      <div class="card-body">                    
       <div class="first">
            <div class="finame">
              <label> First Name:</label> <input type="text" ng-model="fname" style="margin-left: 29px;border:none; border-bottom: 2px solid blue;" required><br><br> 
           </div>
            <div class="mdname">
               <label> Middle Name: </label> <input type="text" ng-model="mname" style="margin-left: 10px; border:none;border-bottom: 2px solid blue;" required><br><br>
            </div>
             <div class="laname">
               <label> Last Name: </label>  <input type="text" ng-model="lname" style="margin-left: 28px; border:none;  border-bottom: 2px solid blue;" required><br><br> 
             </div>
             <div class="email">
                <labe> Email: </labe>  <input type="Email" ng-model="email" style="margin-left: 65px;border: none; border-bottom: 2px solid blue;" required><br><br> 

             </div>
             <div class="btn">
                 <button type="button" class="btn btn-primary" ng-click="submit()" style="margin-left: 105px;">Sign In</button>
             </div>
             <div class="btn">
                 <button type="button" class="btn btn-primary" ng-click="login()">Login</button>
             </div>
           </div>  
        </div> 
      </div>