
 
    <div class="container">
      <div class="card bg-light">
         <h5 class="card-title">Register OR login</h5><br>	         
     	    
     		   <div class="first">
     			 <div class="finame">
     			 	<h5> First Name: <input type="text" ng-model="fname" style="margin-left: 29px;"><br><br> </h5>

     			 </div>
     			 <div class="mdname">
                     <h5> Middle Name: <input type="text" ng-model="mname" style="margin-left: 10px;"><br><br></h5>
                 </div>
                <div class="laname">
                   <h5> Last Name:   <input type="text" ng-model="lname" style="margin-left: 28px;"><br><br> </h5> 
                </div>
                 
	            </div>	
            <div class="output">
              <p> {{fname}}</p>
               <p>{{mname}}</p>
               <p>{{lname}}</p>
            </div>   
     	</div>
      </div>	
  	
