<div class="row">
	<div class="col-md-12">
	   <nav class="navbar navbar-expand-lg navbar-white bg-white">
           <div class="col-md-2">
               <i class="fa fa-file-text-o" aria-hidden="true" style="font-size: 40px; color: blue;"></i>
           </div>	
           <div class="design col-md-10">
                <h5>Welcome to google Editor   <i class="fa fa-star-o" aria-hidden="true"></i>
                	<i class="fa fa-floppy-o" aria-hidden="true" style="color: #ffaa00"></i>
                 <div class="share">
                 	  <i class="fa fa-commenting-o" aria-hidden="true" style="font-size: 30px;"></i>
                 	  <button type="button" class="btn btn-primary">
                 	  	<i class="fa fa-lock" aria-hidden="true"></i>
                 	  	 Share</button>
                 </div>	
                </h5>
               <div class="botflow"> 
                   <div class="btn-group">
                      <button class="btn btn-light btn-sm" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        File
                      </button>
                       <div class="dropdown-menu">
                            <a class="dropdown-item" href="#">New</a>
                            <a class="dropdown-item" href="#">Save</a>
                            <a class="dropdown-item" href="#">Open</a>
                       </div>
                   </div>
                   <div class="btn-group">
                       <button class="btn btn-light btn-sm" type="button"data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                         Edit
                       </button>  
                      <div class="dropdown-menu">
                            <a class="dropdown-item" href="#">Undo</a>
                            <a class="dropdown-item" href="#">Paste</a>
                      </div>
                   </div> 
                   <div class="btn-group">
                       <button class="btn btn-light btn-sm" type="button"data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                         View
                       </button>  
                      <div class="dropdown-menu">
                            <a class="dropdown-item" href="#">Undo</a>
                            <a class="dropdown-item" href="#">Paste</a>
                      </div>
                   </div>
                   <div class="btn-group">
                       <button class="btn btn-light btn-sm" type="button"data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                         Insert
                       </button>  
                      <div class="dropdown-menu">
                            <a class="dropdown-item" href="#">Undo</a>
                            <a class="dropdown-item" href="#">Paste</a>
                      </div>
                   </div>
                   <div class="btn-group">
                       <button class="btn btn-light btn-sm" type="button"data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                         Format
                       </button>  
                      <div class="dropdown-menu">
                            <a class="dropdown-item" href="#">Undo</a>
                            <a class="dropdown-item" href="#">Paste</a>
                      </div>
                   </div>
                   <div class="btn-group">
                       <button class="btn btn-light btn-sm" type="button"data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                         Tools
                       </button>  
                      <div class="dropdown-menu">
                            <a class="dropdown-item" href="#">Undo</a>
                            <a class="dropdown-item" href="#">Paste</a>
                      </div>
                   </div>
                   <div class="btn-group">
                       <button class="btn btn-light btn-sm" type="button"data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                         Helps
                       </button>  
                      <div class="dropdown-menu">
                            <a class="dropdown-item" href="#">Undo</a>
                            <a class="dropdown-item" href="#">Paste</a>
                      </div>
                   </div>

               </div>
           </div>
       </nav>     	
   </div>
</div>
<hr>

<i class="fa fa-bold" aria-hidden="true"></i>








  
    